<!DOCTYPE html>
<html>
<head>
    <title>Api Feed Your Neighbour</title>
    <style>
        body {
            background-color: #377E47; /* Fond vert */
            color: #FFFFFF; /* Texte blanc pour contraster avec le fond */
            font-family: Mont-Bold; /* Police du texte */
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 36px;
            font-weight: 600;

        }
        p {
            font-size: 24px;
            font-weight: 300;
        }
        .container {
            background-color: #377E47;
            border-radius: 10px;
            border: 1px solid #377E57;
            padding: 50px;
            margin: 0 auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <h1>Feed Your Neighbour</h1>
    <div class="container">
        <p>Api de gestion des dons alimentaires</p>
    </div>
      <div class="container">
        <p>Vous trouverez la documentation de l'api <a>ici</a></p>
    </div>
</body>
</html>
